<table>
  <tr>
    <td><calculadora (updated)="ponResultado('UNO', $event)"></calculadora></td>
    <td >
      <table border="1">
        <tr><th>Nº</th><th>Calc</th><th>Resultado</th></tr>
        <tr  *ngFor="let r of resultados | slice:-5">
          <td class="text-right">{{r.pos}}</td>
          <td>{{r.origen}}</td>
          <!-- <td class="text-right">{{r.valor | number:'1.0-8' }}</td> -->
          <td class="text-right">{{r.valor | localnumber:idioma:'1.0-8' }}</td>
        </tr>
        <tr>
          <td colspan="3">Idioma: <select [(ngModel)]="idioma" >
            <option *ngFor="let p of idiomas" [value]="p.codigo">{{p.region}}</option>
          </select>
        </td>
        </tr>
      </table>
    </td>
    <td><calculadora [init]="valCalculadora" (updated)="ponResultado('DOS', $event)"></calculadora></td>
  </tr>
</table>
<input type="number" [(ngModel)] = "valCalculadora">
{{resultados | json}}
<h1>Hola {{nombre | url2seo | elipsis:15 | uppercase}}</h1>
<p>
  <input type="text" [(ngModel)]="nombre">
  <input type="button" value="Saluda" (click)="saluda()">
  <input type="button" value="Despide" (click)="despide()">
  <input type="button" value="Di" (click)="di('algo')">
  <input type="button" value="Cambia" (click)="cambia()">
  <input type="button" value="Notifica" (click)="srv.add('Notificacion desde demo')">
</p>
<p [innerHTML]="resultado">kk</p>
<p [hidden]="!visible">Ahora me ves</p>
<p *ngIf="visible">Ahora existo</p>

<my-sizer [(size)]="fuente"></my-sizer>
<p [ngClass]="estilos" [style.font-size.px]="fuente">
Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis mollitia ea nam iusto odit? Aspernatur culpa eveniet omnis deserunt ipsa voluptatem, illo accusamus reprehenderit! Assumenda, ducimus temporibus. In, natus quod.
</p>

<p [class.visible]="visible">Es invisible</p>
<p>
  Calcula: 2 + 2 = {{(2 + 2) |number:'1.2-4'}} = {{calcula(2, 2)|currency:'EUR':'symbol':'4.2-2'}}
</p>
<ul>
  <li *ngFor="let item of listado|slice:-5; let ind=index; let fondo=odd;"
    [style.background-color]="fondo ? 'LightBlue' : 'Lavender'">
      {{item.nombre}} ({{item.id}}) [Pos: {{ind + 1}}]
  </li>
</ul>
<p>
  <select [(ngModel)]="idProvincia" >
    <option value="">--Elige opción--</option>
    <option *ngFor="let p of listado" [value]="p.id">{{p.nombre|titlecase}}</option>
  </select>
  Seleccionado: {{idProvincia}}
  <input type="text" value="a coruña" #provincia>
  <input type="button" value="Añadir" (click)="add(provincia.value)">
</p>
{{listado|json}}
